<header class="row">

  <div class="col-3">

    <section class="row">
    <img class="neuefische" src="https://www.neuefische.de/static/home/fish-group@2x.png" alt="">
    </section>

    <section class="row">
      <div class="bubble1"></div>
      <div class="bubble2"></div>
      <div class="bubble3"></div>
      <div class="bubble4"></div>
      <div class="bubble5"></div>
    </section>
    
  </div>
  <div class="col">
    <h1><span class=icon>H!</span> Die Hilfe-App fürs Klassenzimmer</h1>
  </div>
</header>