$orange: rgba(237, 101, 68, 1);
$darkblue: rgba(32, 50, 79, 0.2);
$deepskyblue: deepskyblue;


h1 {
 font-size: 40px;
 margin: 20px;
 padding: 10px;
 font-family: 'Righteous', cursive;
 color: white;
 text-shadow: 2px 2px 2px $orange;
}

.bubble1, .bubble2, .bubble3, .bubble4, .bubble5 {
  background: $deepskyblue;
  box-shadow: 1px 1px 5px whitesmoke;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation-fill-mode: forwards;
  margin: 15px;
}

.bubble1 {
   animation: animated-bubble1 20s infinite;
   transform:  translateY(60px) translateX(60px);
}

.bubble2 {
   animation: animated-bubble2 15s infinite;
   transform:  translateY(80px) translateX(60px);
}

.bubble3 {
  animation: animated-bubble3 12s infinite;
  transform:  translateY(70px) translateX(60px);
}

.bubble4 {
  animation: animated-bubble4 18s infinite;
  transform:  translateY(70px) translateX(60px);
}

.bubble5 {
  animation: animated-bubble5 10s infinite;
  transform:  translateY(60px) translateX(60px);
}

@keyframes animated-bubble1 {
  99% {
    transform: translateY(-250px);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble2 { 
  99% {
    transform: translateY(-250px);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble3 {
  99% {
    transform: translateY(-250px);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble4 { 
  99% {
    transform: translateY(-250px);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble5 {
  99% {
    transform: translateY(-250px);
  }
  100% {
      opacity: 0;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 0 10px 12px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: grey;
    color: $orange;
    font-weight: bold;
    padding: 25px;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
    box-shadow: 20px 1px 2px $orange;
    font-family: 'Righteous', cursive;
  }
