$orange: rgba(237, 101, 68, 1);
$darkblue: rgba(32, 50, 79, 0.2);
$deepskyblue: deepskyblue;


h1 {
 font-size: 2.1rem;
 margin: 1.25rem;
 padding: 0.625rem;
 font-family: 'Righteous', cursive;
 color: white;
 text-shadow: 0.125rem 0.125rem 0.125rem $orange;
}

.bubble1, .bubble2, .bubble3, .bubble4, .bubble5 {
  background: $deepskyblue;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem whitesmoke;
  width: 0.9275rem;
  height: 0.9275rem;
  border-radius: 50%;
  animation-fill-mode: forwards;
  margin: 0.9275rem;
}

.bubble1 {
   animation: animated-bubble1 20s infinite;
   transform:  translateY(3.75rem) translateX(3.75rem);
}

.bubble2 {
   animation: animated-bubble2 15s infinite;
   transform:  translateY(80px) translateX(3.75rem);
}

.bubble3 {
  animation: animated-bubble3 12s infinite;
  transform:  translateY(70px) translateX(3.75rem);
}

.bubble4 {
  animation: animated-bubble4 18s infinite;
  transform:  translateY(70px) translateX(3.75rem);
}

.bubble5 {
  animation: animated-bubble5 10s infinite;
  transform:  translateY(3.75rem) translateX(3.75rem);
}

@keyframes animated-bubble1 {
  99% {
    transform: translateY(-15.625rem);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble2 { 
  99% {
    transform: translateY(-15.625rem);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble3 {
  99% {
    transform: translateY(-15.625rem);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble4 { 
  99% {
    transform: translateY(-15.625rem);
  }
  100% {
      opacity: 0;
    }
  }

  @keyframes animated-bubble5 {
  99% {
    transform: translateY(-15.625rem);
  }
  100% {
      opacity: 0;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.625rem 0 0.625rem 0.75rem;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background: grey;
    color: $orange;
    font-weight: bold;
    padding: 1.5625rem;
    font-size: 1.875rem;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem white;
    box-shadow: 1.25rem 0.0625rem 0.125rem $orange;
    font-family: 'Righteous', cursive;
  }

  .door {
    height: 4.6875rem;
    width: 9.375rem;
    margin: 1.25rem;
    border-radius: 8em;
  }

  .green {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(66, 245, 66);
    font-size: 1.125rem;
    font-weight: bold;
  }

  .red {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(244, 8, 8);
    font-size: 1.125rem;
    font-weight: bold;
  }
  
  .green, .red {
    cursor: pointer;
  }
  
  .green:after {
      content:	"Door";
  }
  
  .red:after {
      content:	"Open the Door please!";
  }
  
  
  
  