@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'header';

body {
  background-color: rgb(239, 242, 247);
  height: 100vh;
}

.container {
  background-color: none;
  height: 87vh;
  width:100%;
  border-radius: 10px;
}

.row .table {
  display: flex;
  align-content: start;
}



.name{
  margin-bottom: 40px;
}
.table{
  padding:5px;
  flex-direction:column;
  border: 1px solid #444;;
  background-color: #b3ccdf;
  border-radius:5px;
  width: 8.375rem;
  height: 10.375rem;
  color: black;
  text-align: center;
  margin: 0.125rem 0.3125rem;
}
.anordnung{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
.hh{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 4px;
}

.first-row {
  height: 100%;
  align-self: flex-end;
}

.col {
  padding: 0.3125rem;
  display: flex;
  flex-direction: column; 
}

.neuefische {
  width: 100%;
  align-self: center;
  margin-top: 1rem;  
}



.status1 {
  background: yellow;
}

.status2 {
  background: red;
}

.status3 {
  background: orange;
}

.status4 {
  background: green;
}

input[type="radio"]{
  display: none;
}
label{
  font-weight: bold;
  height: 10px;
  text-shadow: 1px 1px rgba(111,110,200, 0.5);
}
label:hover{
  text-shadow: 1px 1px rgba(63, 60, 242, 0.5);
  color: aqua;
  transition: 0.2s;
}
.wip, .jerry{
  border-bottom: 1px solid black;
}
.done, .jerry{
  border-left: 1px solid black;
}


