@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'header';
@import 'footer';

$orange: rgba(237, 101, 68, 1);
$darkblue: rgba(32, 50, 79, 1);
$deepskyblue: deepskyblue;


body {
  background-color: $darkblue;
  height: 100vh;
}

.container {
  background-color: none;
  width:100%;
  height: 100%;
  border-radius: 10px;
}

.table{
  padding:5px;
  flex-direction:column;
  border: 1px solid #444;;
  background-color: #b3ccdf;
  border-radius:5px;
  width: 8.375rem;
  height: 9.375rem;
  color: black;
  text-align: center;
  margin: 0.125rem 0.3125rem;
}

.row .table {
  display: flex;
  align-content: start;
}

.name{
  margin-top:10px;
  margin-bottom: 30px;
  font-size: 120%;
}

.anordnung{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.hh{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 4px;
}

.wip, .jerry{
  border-bottom: 1px solid black;
}

.done, .jerry{
  border-left: 1px solid black;
}

label{
  cursor: pointer;
  font-weight: bold;
  height: 10px;
  text-shadow: 1px 1px rgba(111,110,200, 0.5);
}

label:hover{
  text-shadow: 1px 1px rgba(63, 60, 242, 0.5);
  color: $deepskyblue;
  transition: 0.2s;
  transform: scale(1.1) translatey(-5px);
}

.statusButton2:hover {
  text-shadow: 1px 1px rgba(63, 60, 242, 0.5);
  color: $deepskyblue;
  transition: 0.2s;
  transform: scale(1.1) translatey(-5px);

}

.first-row {
  height: 100%;
  align-self: flex-end;
}

.col {
  padding: 0.3125rem;
  display: flex;
  flex-direction: column; 
}

.neuefische {
  width: 100%;
  align-self: center;
  margin-top: 1rem;  
}

.status1 {
  background: rgb(216, 188, 73);
}

.status2 {
  background: rgb(189, 57, 38);
}

.status3 {
  background: rgb(218, 115, 47);
}

.status4 {
  background: rgb(101, 115, 34);
}

input[type="radio"]{
  display: none;
}





